<?xml version="1.0" encoding="utf-8"?>
<Media Key="1447395e-89f4-4481-937e-09309797e464" Alias="01.webp" Level="2">
  <Info>
    <Parent Key="e1e5fdf2-7740-449e-bca7-f1d1aec3ae9b">Images</Parent>
    <Path>/Images/webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T15:47:33</CreateDate>
    <NodeName Default="01.webp" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/0hzbdiu3/01.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>