<?xml version="1.0" encoding="utf-8"?>
<Media Key="b41d93c3-f8d5-44ae-9b57-b157bcb03d80" Alias="About" Level="2">
  <Info>
    <Parent Key="e1e5fdf2-7740-449e-bca7-f1d1aec3ae9b">Images</Parent>
    <Path>/Images/About</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-12T12:56:54</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>