<?xml version="1.0" encoding="utf-8"?>
<Media Key="0514413c-29b8-4ee9-9c87-5b02b0014515" Alias="about-hero-2.webp" Level="3">
  <Info>
    <Parent Key="b41d93c3-f8d5-44ae-9b57-b157bcb03d80">About</Parent>
    <Path>/Images/About/aboutHero2webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T12:57:50</CreateDate>
    <NodeName Default="about-hero-2.webp" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wofffm4r/about-hero-2.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>