<?xml version="1.0" encoding="utf-8"?>
<Media Key="e5828aa0-9b29-4cc6-9414-72e7f062c1f1" Alias="Bg.webp" Level="2">
  <Info>
    <Parent Key="e1e5fdf2-7740-449e-bca7-f1d1aec3ae9b">Images</Parent>
    <Path>/Images/Bgwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T15:47:34</CreateDate>
    <NodeName Default="Bg.webp" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/f3amiu0a/bg.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>