<?xml version="1.0" encoding="utf-8"?>
<Media Key="61d46119-bbb1-460e-80ce-fe8e6dae7eed" Alias="Brand.webp" Level="2">
  <Info>
    <Parent Key="e1e5fdf2-7740-449e-bca7-f1d1aec3ae9b">Images</Parent>
    <Path>/Images/Brandwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T15:47:34</CreateDate>
    <NodeName Default="Brand.webp" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/s0vjfv4y/brand.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>