<?xml version="1.0" encoding="utf-8"?>
<Media Key="97aca7b1-43eb-4dc6-8c9c-6123fb10482e" Alias="contact-info-background.webp" Level="2">
  <Info>
    <Parent Key="e1e5fdf2-7740-449e-bca7-f1d1aec3ae9b">Images</Parent>
    <Path>/Images/contactInfoBackgroundwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T15:47:34</CreateDate>
    <NodeName Default="contact-info-background.webp" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hzwpuimc/contact-info-background.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>