<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa32a20e-3d24-4d17-97e1-a7d766246f3b" Alias="contact-info-guy.webp" Level="2">
  <Info>
    <Parent Key="e1e5fdf2-7740-449e-bca7-f1d1aec3ae9b">Images</Parent>
    <Path>/Images/contactInfoGuywebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T15:47:35</CreateDate>
    <NodeName Default="contact-info-guy.webp" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qfuhitcn/contact-info-guy.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>