<?xml version="1.0" encoding="utf-8"?>
<Media Key="2d394cdc-4784-4152-8d1c-8f45c6e506c4" Alias="dot-map-2.webp" Level="3">
  <Info>
    <Parent Key="0514caee-be63-4702-9c8e-933e5badac34">Home</Parent>
    <Path>/Images/Home/dotMap2webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T12:58:18</CreateDate>
    <NodeName Default="dot-map-2.webp" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/kodh5g5n/dot-map-2.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>