<?xml version="1.0" encoding="utf-8"?>
<Media Key="e4735faf-559b-4d82-87d3-90481f1cee68" Alias="groupofpeople.webp" Level="3">
  <Info>
    <Parent Key="0514caee-be63-4702-9c8e-933e5badac34">Home</Parent>
    <Path>/Images/Home/groupofpeoplewebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T12:58:18</CreateDate>
    <NodeName Default="groupofpeople.webp" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/eckdkuxs/groupofpeople.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>