<?xml version="1.0" encoding="utf-8"?>
<Media Key="0514caee-be63-4702-9c8e-933e5badac34" Alias="Home" Level="2">
  <Info>
    <Parent Key="e1e5fdf2-7740-449e-bca7-f1d1aec3ae9b">Images</Parent>
    <Path>/Images/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-12T12:57:22</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>