<?xml version="1.0" encoding="utf-8"?>
<Media Key="6f3512b7-62a5-461c-aab8-6bfede6ea2f0" Alias="image-106 1.webp" Level="2">
  <Info>
    <Parent Key="e1e5fdf2-7740-449e-bca7-f1d1aec3ae9b">Images</Parent>
    <Path>/Images/image1061webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T15:47:37</CreateDate>
    <NodeName Default="image-106 1.webp" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hdmhhwom/image-106-1.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>