<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa37f4e4-64ad-4894-8d1e-211ceef3843c" Alias="image-22-min 1.webp" Level="2">
  <Info>
    <Parent Key="e1e5fdf2-7740-449e-bca7-f1d1aec3ae9b">Images</Parent>
    <Path>/Images/image22Min1webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T15:47:36</CreateDate>
    <NodeName Default="image-22-min 1.webp" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/nm5hctge/image-22-min-1.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>