<?xml version="1.0" encoding="utf-8"?>
<Media Key="b854dfed-c447-415b-a0e2-2f74848267b3" Alias="image-23-min 1.webp" Level="2">
  <Info>
    <Parent Key="e1e5fdf2-7740-449e-bca7-f1d1aec3ae9b">Images</Parent>
    <Path>/Images/image23Min1webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T15:47:36</CreateDate>
    <NodeName Default="image-23-min 1.webp" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/mikbedro/image-23-min-1.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>