<?xml version="1.0" encoding="utf-8"?>
<Media Key="a1aeeafc-948f-4fb0-aac7-ff44e8ce08f7" Alias="image-24-min 1.webp" Level="2">
  <Info>
    <Parent Key="e1e5fdf2-7740-449e-bca7-f1d1aec3ae9b">Images</Parent>
    <Path>/Images/image24Min1webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T15:47:36</CreateDate>
    <NodeName Default="image-24-min 1.webp" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/omqoqf5g/image-24-min-1.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>