<?xml version="1.0" encoding="utf-8"?>
<Media Key="e1e5fdf2-7740-449e-bca7-f1d1aec3ae9b" Alias="Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Images</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-12T12:56:33</CreateDate>
    <NodeName Default="Images" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>