<?xml version="1.0" encoding="utf-8"?>
<Media Key="4dd36e6f-3ba1-4081-8d39-a9211e47ed88" Alias="image-21-min 1.webp" Level="2">
  <Info>
    <Parent Key="e1e5fdf2-7740-449e-bca7-f1d1aec3ae9b">Images</Parent>
    <Path>/Images/image21Min1webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T15:47:35</CreateDate>
    <NodeName Default="image-21-min 1.webp" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/2csjl44i/image-21-min-1.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>