<?xml version="1.0" encoding="utf-8"?>
<Media Key="bde60b22-c08f-4e87-ba52-75aa6033a9d3" Alias="Img-1 1.webp" Level="2">
  <Info>
    <Parent Key="e1e5fdf2-7740-449e-bca7-f1d1aec3ae9b">Images</Parent>
    <Path>/Images/Img11webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T15:47:37</CreateDate>
    <NodeName Default="Img-1 1.webp" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vxalac5g/img-1-1.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>