<?xml version="1.0" encoding="utf-8"?>
<Media Key="d3d4affb-4f7d-40a8-bd2d-d3a096699680" Alias="Img-47 1.webp" Level="3">
  <Info>
    <Parent Key="3f6ec59c-5a21-4441-b90f-d4116647daac">Projects</Parent>
    <Path>/Images/Projects/Img471webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T12:59:55</CreateDate>
    <NodeName Default="Img-47 1.webp" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/orsjeziu/img-47-1.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>