<?xml version="1.0" encoding="utf-8"?>
<Media Key="63df5849-32b4-47fd-a73b-18ee9e925c16" Alias="img_choose_01_home01 2.webp" Level="2">
  <Info>
    <Parent Key="e1e5fdf2-7740-449e-bca7-f1d1aec3ae9b">Images</Parent>
    <Path>/Images/img_choose_01_home012webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T15:47:37</CreateDate>
    <NodeName Default="img_choose_01_home01 2.webp" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/y0jjtvo3/img_choose_01_home01-2.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>