<?xml version="1.0" encoding="utf-8"?>
<Media Key="725005a3-b262-4fee-9765-2c1ce6cdcc2e" Alias="img_choose_01_home01 1.webp" Level="2">
  <Info>
    <Parent Key="e1e5fdf2-7740-449e-bca7-f1d1aec3ae9b">Images</Parent>
    <Path>/Images/img_choose_01_home011webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T15:47:37</CreateDate>
    <NodeName Default="img_choose_01_home01 1.webp" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/fthbnral/img_choose_01_home01-1.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>