<?xml version="1.0" encoding="utf-8"?>
<Media Key="8c64e91a-39ed-4c3a-9465-e2f091547789" Alias="Kevin-Gardner 1.webp" Level="2">
  <Info>
    <Parent Key="e1e5fdf2-7740-449e-bca7-f1d1aec3ae9b">Images</Parent>
    <Path>/Images/KevinGardner1webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T15:47:38</CreateDate>
    <NodeName Default="Kevin-Gardner 1.webp" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/surdeoue/kevin-gardner-1.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>