<?xml version="1.0" encoding="utf-8"?>
<Media Key="ba107294-3c7c-4885-b54e-0092369f0667" Alias="kevin-gardner.webp" Level="3">
  <Info>
    <Parent Key="b41d93c3-f8d5-44ae-9b57-b157bcb03d80">About</Parent>
    <Path>/Images/About/kevinGardnerwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T12:57:50</CreateDate>
    <NodeName Default="kevin-gardner.webp" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/do2fmdav/kevin-gardner.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>