<?xml version="1.0" encoding="utf-8"?>
<Media Key="b7ab8511-ba4e-42bb-9902-b6050cd324e5" Alias="logo.svg" Level="3">
  <Info>
    <Parent Key="0514caee-be63-4702-9c8e-933e5badac34">Home</Parent>
    <Path>/Images/Home/logosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-21T13:18:54</CreateDate>
    <NodeName Default="logo.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2m2asvkv/logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>