<?xml version="1.0" encoding="utf-8"?>
<Media Key="0ebfccbf-f77e-4ebb-9acf-a45c1a6288f6" Alias="Mail.webp" Level="3">
  <Info>
    <Parent Key="3f6ec59c-5a21-4441-b90f-d4116647daac">Projects</Parent>
    <Path>/Images/Projects/Mailwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T12:59:55</CreateDate>
    <NodeName Default="Mail.webp" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/gadptoax/mail.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>