<?xml version="1.0" encoding="utf-8"?>
<Media Key="71f1de7c-1110-4519-a319-adbf74e1ad2f" Alias="map 1.svg" Level="2">
  <Info>
    <Parent Key="e1e5fdf2-7740-449e-bca7-f1d1aec3ae9b">Images</Parent>
    <Path>/Images/map1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-26T12:38:08</CreateDate>
    <NodeName Default="map 1.svg" />
    <SortOrder>42</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rzrfheyl/map-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>