<?xml version="1.0" encoding="utf-8"?>
<Media Key="57da5c80-6400-439b-90d1-d58e6a2dd28b" Alias="our-services-2.webp" Level="4">
  <Info>
    <Parent Key="45fcacd1-4663-4514-bff8-d5398f8521e3">Our Services</Parent>
    <Path>/Images/Home/OurServices/ourServices2webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T12:58:47</CreateDate>
    <NodeName Default="our-services-2.webp" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/b4ljzylj/our-services-2.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>