<?xml version="1.0" encoding="utf-8"?>
<Media Key="45fcacd1-4663-4514-bff8-d5398f8521e3" Alias="Our Services" Level="3">
  <Info>
    <Parent Key="0514caee-be63-4702-9c8e-933e5badac34">Home</Parent>
    <Path>/Images/Home/OurServices</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-12T12:58:26</CreateDate>
    <NodeName Default="Our Services" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties />
</Media>