<?xml version="1.0" encoding="utf-8"?>
<Media Key="9d606012-29c9-4cb2-8a55-bfc137a4cec4" Alias="our-services-3.webp" Level="4">
  <Info>
    <Parent Key="45fcacd1-4663-4514-bff8-d5398f8521e3">Our Services</Parent>
    <Path>/Images/Home/OurServices/ourServices3webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T12:58:48</CreateDate>
    <NodeName Default="our-services-3.webp" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/twvcmk3a/our-services-3.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>