<?xml version="1.0" encoding="utf-8"?>
<Media Key="ff21146b-a132-458f-88e2-9ca7c9400e6c" Alias="partners-3.webp" Level="4">
  <Info>
    <Parent Key="554b7334-b1d6-4911-97d6-6bb261d88faa">Partners</Parent>
    <Path>/Images/Home/Partners/partners3webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T12:59:45</CreateDate>
    <NodeName Default="partners-3.webp" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/2tpgosk1/partners-3.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>