<?xml version="1.0" encoding="utf-8"?>
<Media Key="6c0e9194-8473-4031-ba06-010d57499ce1" Alias="partners-2.webp" Level="4">
  <Info>
    <Parent Key="554b7334-b1d6-4911-97d6-6bb261d88faa">Partners</Parent>
    <Path>/Images/Home/Partners/partners2webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T12:59:45</CreateDate>
    <NodeName Default="partners-2.webp" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/dnnfrwq0/partners-2.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>