<?xml version="1.0" encoding="utf-8"?>
<Media Key="554b7334-b1d6-4911-97d6-6bb261d88faa" Alias="Partners" Level="3">
  <Info>
    <Parent Key="0514caee-be63-4702-9c8e-933e5badac34">Home</Parent>
    <Path>/Images/Home/Partners</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-12T12:58:38</CreateDate>
    <NodeName Default="Partners" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties />
</Media>