<?xml version="1.0" encoding="utf-8"?>
<Media Key="47e0c509-b03e-4a33-868c-a280062f90ab" Alias="partners-4.webp" Level="4">
  <Info>
    <Parent Key="554b7334-b1d6-4911-97d6-6bb261d88faa">Partners</Parent>
    <Path>/Images/Home/Partners/partners4webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T12:59:45</CreateDate>
    <NodeName Default="partners-4.webp" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qyhln2kx/partners-4.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>