<?xml version="1.0" encoding="utf-8"?>
<Media Key="88f86458-cde5-46e1-9aad-286702a273c2" Alias="pj1.webp" Level="3">
  <Info>
    <Parent Key="3f6ec59c-5a21-4441-b90f-d4116647daac">Projects</Parent>
    <Path>/Images/Projects/pj1webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T12:59:55</CreateDate>
    <NodeName Default="pj1.webp" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/04xl2pum/pj1.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>