<?xml version="1.0" encoding="utf-8"?>
<Media Key="3cefeb22-c90e-4e39-bf03-95888cc59fb4" Alias="pj2.webp" Level="3">
  <Info>
    <Parent Key="3f6ec59c-5a21-4441-b90f-d4116647daac">Projects</Parent>
    <Path>/Images/Projects/pj2webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T12:59:56</CreateDate>
    <NodeName Default="pj2.webp" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vuqltcth/pj2.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>