<?xml version="1.0" encoding="utf-8"?>
<Media Key="72a85583-fc00-483b-9577-d5868d51befb" Alias="pj3.webp" Level="3">
  <Info>
    <Parent Key="3f6ec59c-5a21-4441-b90f-d4116647daac">Projects</Parent>
    <Path>/Images/Projects/pj3webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T12:59:56</CreateDate>
    <NodeName Default="pj3.webp" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/bspp3rdj/pj3.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>