<?xml version="1.0" encoding="utf-8"?>
<Media Key="80006363-ecfc-4670-8083-06c454b44a03" Alias="pj4-large.webp" Level="3">
  <Info>
    <Parent Key="3f6ec59c-5a21-4441-b90f-d4116647daac">Projects</Parent>
    <Path>/Images/Projects/pj4Largewebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T12:59:55</CreateDate>
    <NodeName Default="pj4-large.webp" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3sufmnuv/pj4-large.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>