<?xml version="1.0" encoding="utf-8"?>
<Media Key="d1217b5e-ff64-45d9-b01b-513b04605718" Alias="pj4.webp" Level="3">
  <Info>
    <Parent Key="3f6ec59c-5a21-4441-b90f-d4116647daac">Projects</Parent>
    <Path>/Images/Projects/pj4webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T12:59:56</CreateDate>
    <NodeName Default="pj4.webp" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/0gyhozyn/pj4.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>