<?xml version="1.0" encoding="utf-8"?>
<Media Key="e2a4e756-2503-4280-bc87-4e8966c1b25b" Alias="projects-3.webp" Level="4">
  <Info>
    <Parent Key="1ee2ca50-aee4-4305-b19a-60ac8b66bc22">Projects</Parent>
    <Path>/Images/Home/Projects/projects3webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T12:59:28</CreateDate>
    <NodeName Default="projects-3.webp" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/1ewpevdk/projects-3.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>