<?xml version="1.0" encoding="utf-8"?>
<Media Key="3f6ec59c-5a21-4441-b90f-d4116647daac" Alias="Projects" Level="2">
  <Info>
    <Parent Key="e1e5fdf2-7740-449e-bca7-f1d1aec3ae9b">Images</Parent>
    <Path>/Images/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-12T12:57:29</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>