<?xml version="1.0" encoding="utf-8"?>
<Media Key="ec47536f-bd15-4b59-8044-906beb0097c6" Alias="projects-2.webp" Level="4">
  <Info>
    <Parent Key="1ee2ca50-aee4-4305-b19a-60ac8b66bc22">Projects</Parent>
    <Path>/Images/Home/Projects/projects2webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T12:59:28</CreateDate>
    <NodeName Default="projects-2.webp" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/2cmbcwt2/projects-2.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>