<?xml version="1.0" encoding="utf-8"?>
<Media Key="1ee2ca50-aee4-4305-b19a-60ac8b66bc22" Alias="Projects" Level="3">
  <Info>
    <Parent Key="0514caee-be63-4702-9c8e-933e5badac34">Home</Parent>
    <Path>/Images/Home/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-12T12:58:44</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties />
</Media>