<?xml version="1.0" encoding="utf-8"?>
<Media Key="e941ec06-b9fa-4806-8880-acf904f4a556" Alias="projects-4.webp" Level="4">
  <Info>
    <Parent Key="1ee2ca50-aee4-4305-b19a-60ac8b66bc22">Projects</Parent>
    <Path>/Images/Home/Projects/projects4webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T12:59:27</CreateDate>
    <NodeName Default="projects-4.webp" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/retaox2t/projects-4.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>