<?xml version="1.0" encoding="utf-8"?>
<Media Key="0150c365-c756-4e5b-ab7c-6373a0186077" Alias="Rectangle (1).webp" Level="2">
  <Info>
    <Parent Key="e1e5fdf2-7740-449e-bca7-f1d1aec3ae9b">Images</Parent>
    <Path>/Images/Rectangle1Webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T15:47:40</CreateDate>
    <NodeName Default="Rectangle (1).webp" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3iebnnz5/rectangle-1.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>