<?xml version="1.0" encoding="utf-8"?>
<Media Key="c2664daa-8c1a-4a68-9724-398b1fa3eecc" Alias="Rectangle.webp" Level="2">
  <Info>
    <Parent Key="e1e5fdf2-7740-449e-bca7-f1d1aec3ae9b">Images</Parent>
    <Path>/Images/Rectanglewebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T15:47:40</CreateDate>
    <NodeName Default="Rectangle.webp" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ewdda3dt/rectangle.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>