<?xml version="1.0" encoding="utf-8"?>
<Media Key="76d977a7-db92-4267-8b79-8bb5e28a6bdc" Alias="Risk Management" Level="3">
  <Info>
    <Parent Key="ed78243a-24de-4de0-a2fb-ee43bd502cf7">Services</Parent>
    <Path>/Images/Services/RiskManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-12T13:00:48</CreateDate>
    <NodeName Default="Risk Management" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>