<?xml version="1.0" encoding="utf-8"?>
<Media Key="3f7ea50f-2aad-4483-9cdc-ace9c5d5d229" Alias="success-story.webp" Level="3">
  <Info>
    <Parent Key="0514caee-be63-4702-9c8e-933e5badac34">Home</Parent>
    <Path>/Images/Home/successStorywebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T12:58:19</CreateDate>
    <NodeName Default="success-story.webp" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qbxdrcoe/success-story.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>