<?xml version="1.0" encoding="utf-8"?>
<Media Key="ad8d05a0-48c2-4447-b047-faa7a8f62959" Alias="team-3.webp" Level="4">
  <Info>
    <Parent Key="1f3512ab-5b97-4da9-8bc0-c2f813524269">team</Parent>
    <Path>/Images/About/team/team3webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T12:58:03</CreateDate>
    <NodeName Default="team-3.webp" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/f5hnwg3l/team-3.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>