<?xml version="1.0" encoding="utf-8"?>
<Media Key="b0680890-2134-42f6-ac23-9afe3919c25e" Alias="team-7.webp" Level="4">
  <Info>
    <Parent Key="1f3512ab-5b97-4da9-8bc0-c2f813524269">team</Parent>
    <Path>/Images/About/team/team7webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T12:58:02</CreateDate>
    <NodeName Default="team-7.webp" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/d5bc2bs3/team-7.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>