<?xml version="1.0" encoding="utf-8"?>
<Media Key="9d16bc71-7179-48b8-9480-6bceb0819df4" Alias="team-5.webp" Level="4">
  <Info>
    <Parent Key="1f3512ab-5b97-4da9-8bc0-c2f813524269">team</Parent>
    <Path>/Images/About/team/team5webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T12:58:03</CreateDate>
    <NodeName Default="team-5.webp" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/5z1fakyq/team-5.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>