<?xml version="1.0" encoding="utf-8"?>
<Media Key="958a773a-cf46-4a16-ac60-ed8387b12ba6" Alias="team-2.webp" Level="4">
  <Info>
    <Parent Key="1f3512ab-5b97-4da9-8bc0-c2f813524269">team</Parent>
    <Path>/Images/About/team/team2webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T12:58:03</CreateDate>
    <NodeName Default="team-2.webp" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ww4nyizp/team-2.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>