<?xml version="1.0" encoding="utf-8"?>
<Media Key="1f3512ab-5b97-4da9-8bc0-c2f813524269" Alias="team" Level="3">
  <Info>
    <Parent Key="b41d93c3-f8d5-44ae-9b57-b157bcb03d80">About</Parent>
    <Path>/Images/About/team</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-12T12:57:57</CreateDate>
    <NodeName Default="team" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>