<?xml version="1.0" encoding="utf-8"?>
<Media Key="4713675e-97a7-4bb4-b8c4-8e97a81eda91" Alias="tina-fox.webp" Level="3">
  <Info>
    <Parent Key="b41d93c3-f8d5-44ae-9b57-b157bcb03d80">About</Parent>
    <Path>/Images/About/tinaFoxwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T12:57:50</CreateDate>
    <NodeName Default="tina-fox.webp" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/0gwfl2oo/tina-fox.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>