.about-hero {
    position: relative;
    background-color: var(--color-gray);

    .img-1 {
        display: none;
        position: absolute;
        bottom: 0;

        @include desktop {
            display: block;
        }
    }

    .img-2 {
        display: none;
        position: absolute;
        right: 0;

        @include desktop {
            display: block;
        }
    }

    .container {
        text-align: center;
        padding-top: 60px;
        padding-bottom: 80px;

        .breadcrumb {
            font-size: 14px;
            display: flex;
            justify-content: center;
            align-items: center;

            .breadcrumb-home {
                color: var(--color-primary);
            }

            i {
                font-size: 10px;
                padding: 0 10px;
            }
        }
    }
}

.about-us {
    padding: 60px 0px;
    .container {
        display: flex;
        flex-direction: column-reverse;
        padding: 50px 30px;

        @include tablet {
            padding: 70px 15px;
        }

        @include desktop {
            flex-direction: row;
            gap: 50px;
            padding: 100px 0;
        }

        .ceo {
            font-style: italic;

            img {
                display: none;

                @include desktop {
                    display: block;
                }
            }

            p {
                padding-top: 15px;
            }
        }

        .about-us-text {
            h4 {
                font-style: italic;
                font-size: 20px;
                font-weight: 400;
                padding-top: 5px;

                @include mobile-m {
                    font-size: 16px;
                }
            }

            p {
                font-size: 14px;
                line-height: 2.1;

                @include mobile-m {
                    font-size: 12px;
                }
            }
        }
    }
}

.testimonial {
    background-color: var(--color-gray);
    position: relative;
    padding: 50px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    @include mobile-m {
        flex-direction: column;
        padding: 30px 15px;
        height: auto;
    }

    @include desktop {
        height: 511px;
        padding: 50px;
    }

    .testimonial-img {
        display: none;
        position: absolute;
        right: 0;
        bottom: 0;
        max-width: 100%;

        @include desktop {
            display: block;
            height: auto;
            right: 0;
        }

        @include mobile-m {
            display: none;
        }
    }

    .container {

        @include desktop {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            align-items: center;
        }

        .testimonial-review {
            margin: 0;
            padding: 20px;
            align-items: center;
            text-align: center;

            @include tablet {
                align-items: flex-start;
            }

            @include desktop {
                padding: 0;
                text-align: left;
            }

            span {
                display: block;
                font-size: 14px;
                color: var(--color-primary);
                margin-bottom: 10px;

                @include mobile-m {
                    font-size: 12px; // Adjust font size for mobile
                }
            }

            p {
                width: 50%;
                margin: auto;


                @include desktop {
                    padding: 0;
                    text-align: left;
                    margin: 0;
                    width: 50%;
                }
            }

            h2 {
                font-size: 28px;
                color: var(--color-dark);
                margin-bottom: 20px;
                line-height: 1.3;

                @include mobile-m {
                    font-size: 22px; // Smaller font size on mobile
                }
            }

            .testimonial-text {
                font-style: italic;
                color: var(--color-primary-light);
                font-size: 20px;
                line-height: 1.6;

                @include mobile-m {
                    font-size: 16px; // Smaller font size on mobile
                }
            }

            .stars {
                color: var(--color-border-dark);
                padding-bottom: 20px;

                i {
                    font-size: 1.2rem;
                    color: var(--color-secondary); // Customize star color
                }

                @include mobile-m {
                    i {
                        font-size: 1rem; // Adjust star size on mobile
                    }
                }
            }

            .signature {
                padding-bottom: 5px;
                color: var(--color-dark);
                font-size: 18px;

                @include mobile-m {
                    font-size: 16px; // Smaller font size for signature
                }
            }

            .company {
                font-style: italic;
                font-size: 18px;
                color: var(--color-dark);

                @include mobile-m {
                    font-size: 16px; // Smaller font size for company name
                }
            }
        }
    }
}



.expert-team {
    .container {
        padding-top: 110px;
        padding-bottom: 30px;
        text-align: center;

        @include mobile-m {
            padding-top: 50px;
            padding-bottom: 15px;
        }

        .cards {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding-top: 10px;
            padding-bottom: 50px;

            @include desktop {
                flex-direction: row;
            }

            .card {
                border: 1px solid #EAEAEA;

                .content {
                    text-align: start;
                    display: flex;
                    flex-direction: column;
                    padding-left: 20px;
                    padding-top: 20px;

                    h4 {
                        font-weight: 600;
                        margin-bottom: 5px;

                        @include mobile-m {
                            font-size: 18px;
                        }
                    }

                    p {
                        font-size: 13px;
                        color: #9C9EA6;

                        @include mobile-m {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

.contact {
    background-color: var(--color-light);
    padding-top: 40px;
    z-index: 1;
    position: relative;

    @include mobile-m {
        padding-top: 20px;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @include desktop {
            justify-content: space-between;
            flex-direction: row;
        }

        .contact-info-guy {
            z-index: 1;
            display: none;

            @include desktop {
                display: block;
            }
        }

        .contact-info-background {
            position: absolute;
            z-index: 0;
            bottom: 0;
            display: none;

            @include desktop {
                display: block;
            }
        }

        .contact-info {
            display: flex;
            flex-direction: column;
            text-align: center;

            @include desktop {
                text-align: left;
                padding-right: 120px;
            }

            .contact-boxes {
                .box {
                    display: flex;
                    justify-content: center;
                    padding-top: 20px;

                    @include desktop {
                        justify-content: start;
                    }

                    i {
                        font-size: 20px;
                        color: var(--color-secondary);
                        padding-top: 5px;
                    }

                    .right-text {
                        color: var(--color-primary);
                        font-size: 14px;
                        padding-left: 10px;

                        @include mobile-m {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}
