.success-stories {
    background-color: var(--color-primary);
    position: relative;
    z-index: -2;
    margin: 0;
    padding-top: 5px;
    margin-top: 20px;

    @include tablet {
        margin-top: 0px;
    }

    .world-dot-map {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: auto;
    }

    .header-stories {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 50px;
        z-index: 1;

        h2 {
            color: var(--color-light);
            margin-bottom: 40px;
        }
    }

    .success-numbers {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        gap: 50px;
        padding: 0; 

        @include desktop {
            flex-direction: row;
            justify-content: center;
            align-items: stretch;
            gap: 100px;
        }

        .success-headers-numbers {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-grow: 1; 
            padding: 20px;
            margin: 0; 
            box-sizing: border-box; 
            max-width: 370px;

            h1 {
                color: var(--color-secondary);
                font-size: 60px;
                margin-bottom: 10px;
                margin: 0; 
            }

            p {
                color: var(--color-light);
                font-size: 18px;
                font-weight: 600;
                margin: 0; 
            }
        }
    }




    .image-video {
        display: none;

        @include desktop {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 970px;
            height: 544px;
            margin-top: 50px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: -150px;
        }

        .video-image {
            max-width: 100%;
            height: auto;
        }
    }

    .light-bar {
        display: none;

        @include desktop {
            display: block;
            position: absolute;
            z-index: -1;
            background-color: var(--color-light);
            height: 20vh;
            width: 100%;
        }
    }
}
