<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1fe95b91-61b6-40fd-ba65-08e5895af660" Alias="Modular Page - Layout" Level="1">
  <Info>
    <Name>Modular Page - Layout</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "2038b4a1-fb12-4d2f-8240-088b732af1aa",
      "name": "Sections"
    },
    {
      "key": "002e3ec9-5947-4a51-9e14-8c0d18c29cff",
      "name": "Components"
    },
    {
      "key": "b9f784b4-d05f-48b8-8d12-a564a4823808",
      "name": "Containers"
    },
    {
      "key": "e751fb8b-ede3-4d95-a648-bfac4ac65411",
      "name": "Content"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "9189be82-33af-4885-b301-98d2bf362498",
      "allowAtRoot": false,
      "groupKey": "e751fb8b-ede3-4d95-a648-bfac4ac65411",
      "label": "heading 6",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "5bb6544d-be9d-4812-a1a6-6ed7c848636a",
      "allowAtRoot": false,
      "groupKey": "e751fb8b-ede3-4d95-a648-bfac4ac65411",
      "label": "heading 5",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "f1205cb2-b307-473b-984a-d382e1c07f35",
      "allowAtRoot": false,
      "groupKey": "e751fb8b-ede3-4d95-a648-bfac4ac65411",
      "label": "heading 4",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "65c77f73-b153-41fe-9b36-fdbacd0fe057",
      "allowAtRoot": false,
      "groupKey": "e751fb8b-ede3-4d95-a648-bfac4ac65411",
      "label": "heading 3",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "45aaf125-ef84-4773-be38-c0c97649b787",
      "allowAtRoot": false,
      "groupKey": "e751fb8b-ede3-4d95-a648-bfac4ac65411",
      "label": "heading 2",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "ea298d9a-b948-472e-ae91-fcc04366d7a8",
      "allowAtRoot": false,
      "groupKey": "e751fb8b-ede3-4d95-a648-bfac4ac65411",
      "label": "heading 1",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "3330e397-3778-45eb-bc8a-440ccef43d4a",
      "allowAtRoot": false,
      "groupKey": "e751fb8b-ede3-4d95-a648-bfac4ac65411",
      "label": "rich text",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "8071bd55-e5b5-4773-93cd-0fb8293e6e84",
      "allowAtRoot": false,
      "groupKey": "e751fb8b-ede3-4d95-a648-bfac4ac65411",
      "label": "button link",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "ebca7152-0315-416c-96a3-346838372879",
      "allowAtRoot": false,
      "groupKey": "e751fb8b-ede3-4d95-a648-bfac4ac65411",
      "label": "image html element",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "ad9199bc-2283-4e77-a167-e4ae707ef40c",
      "allowAtRoot": false,
      "groupKey": "e751fb8b-ede3-4d95-a648-bfac4ac65411",
      "label": "link",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "6c0764f2-ea4d-49f1-aeaa-34e080690af7",
      "allowAtRoot": false,
      "groupKey": "e751fb8b-ede3-4d95-a648-bfac4ac65411",
      "label": "paragraph",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "88c95d6e-57fb-4af0-86f7-7a50b3a79e2c",
      "allowAtRoot": false,
      "label": "dynamic container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "2aa49981-1e32-4c79-a163-51abc9a2804d",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 11
        }
      ],
      "groupKey": "b9f784b4-d05f-48b8-8d12-a564a4823808"
    },
    {
      "contentElementTypeKey": "1c10be29-9beb-4aed-98bd-671372c65ffc",
      "allowAtRoot": false,
      "label": "container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "47775ac2-7eab-45ed-b3d2-dcfe05225f1d",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "groupKey": "b9f784b4-d05f-48b8-8d12-a564a4823808"
    },
    {
      "contentElementTypeKey": "a2f77abe-3f88-4f6d-b53e-302f254d40bd",
      "allowAtRoot": true,
      "label": "Section - **{=sectionTitle}**",
      "areas": [
        {
          "key": "74cfc5f2-66ea-4771-855b-75739917f579",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "groupKey": "b9f784b4-d05f-48b8-8d12-a564a4823808"
    },
    {
      "contentElementTypeKey": "0f31254c-d5ef-4386-9f0e-1363add5d675",
      "allowAtRoot": true,
      "label": "section - **{=sectionTitle}**",
      "areas": [
        {
          "key": "5af393f6-5648-4e35-9266-3a0473792a58",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "groupKey": "b9f784b4-d05f-48b8-8d12-a564a4823808"
    },
    {
      "contentElementTypeKey": "a548a8a9-548b-4d65-8fe1-21dfb5a12014",
      "allowAtRoot": false,
      "groupKey": "b9f784b4-d05f-48b8-8d12-a564a4823808",
      "allowInAreas": true,
      "label": "Div - class=\u0022**{=className}**\u0022",
      "areas": [
        {
          "key": "daf7ef40-fda1-4648-b61d-cf4805e1f6dc",
          "alias": "area",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "29bdb06a-27c5-4aff-81c1-d28a4738c972",
      "allowAtRoot": true,
      "groupKey": "2038b4a1-fb12-4d2f-8240-088b732af1aa",
      "label": "Testimonial - **{=testimonialAuthor}**",
      "allowInAreas": false
    },
    {
      "contentElementTypeKey": "c133e78b-5d19-4b8d-abdd-bf0f04845eb8",
      "allowAtRoot": false,
      "groupKey": "002e3ec9-5947-4a51-9e14-8c0d18c29cff",
      "label": "Team Member -  **{=memberName}**",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "18e28366-6139-4b9c-ba4e-b28099109bdd",
      "allowAtRoot": false,
      "groupKey": "002e3ec9-5947-4a51-9e14-8c0d18c29cff",
      "label": "image slider",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "fa603857-90ab-4963-988b-a291010305e5",
      "allowAtRoot": false,
      "groupKey": "002e3ec9-5947-4a51-9e14-8c0d18c29cff",
      "label": "Tags",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "337ea518-b540-4025-91e6-3f096afe1ee9",
      "allowAtRoot": true,
      "groupKey": "2038b4a1-fb12-4d2f-8240-088b732af1aa",
      "label": "Let us know about your next project"
    },
    {
      "contentElementTypeKey": "5e24338e-03e1-4f5a-b6b6-4f66ef6d0533",
      "allowAtRoot": true,
      "groupKey": "2038b4a1-fb12-4d2f-8240-088b732af1aa",
      "label": "About Ceo"
    },
    {
      "contentElementTypeKey": "e9a86fa8-2088-4360-b508-50ab1aa142f4",
      "allowAtRoot": true,
      "groupKey": "2038b4a1-fb12-4d2f-8240-088b732af1aa",
      "label": "Success story Section"
    },
    {
      "contentElementTypeKey": "8f64729b-343e-4be8-8ee7-ca904da6ef74",
      "allowAtRoot": true,
      "groupKey": "2038b4a1-fb12-4d2f-8240-088b732af1aa",
      "label": "Hero Section"
    },
    {
      "contentElementTypeKey": "6e107382-fb98-4003-bbd6-c11a5a6d4b95",
      "allowAtRoot": true,
      "groupKey": "2038b4a1-fb12-4d2f-8240-088b732af1aa",
      "label": "Recent Projects"
    },
    {
      "contentElementTypeKey": "b19ef97c-31d4-4567-9cb1-d2794dfaf89f",
      "allowAtRoot": true,
      "groupKey": "2038b4a1-fb12-4d2f-8240-088b732af1aa",
      "label": "Our Services"
    },
    {
      "contentElementTypeKey": "19e9a7f5-24f6-4481-956c-a6a737f95d20",
      "allowAtRoot": true,
      "groupKey": "2038b4a1-fb12-4d2f-8240-088b732af1aa",
      "label": "About Us Section"
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>