<?xml version="1.0" encoding="utf-8"?>
<DataType Key="df44ebeb-e796-42c3-adfb-73b88e6824ff" Alias="SiteSetting - Social Media Platforms " Level="1">
  <Info>
    <Name>SiteSetting - Social Media Platforms </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "bc7bdf0d-f0b5-47df-a914-3be26c6e1ab2",
      "label": "**{=platformName}** - {platformAccountUrl}"
    }
  ]
}]]></Config>
</DataType>