<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b0e8f234-db59-44d1-a86f-bb73adb6059e" Alias="Tags - Tags Block List" Level="1">
  <Info>
    <Name>Tags - Tags Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "40e0814c-4af4-4461-b015-81aba29d098a",
      "label": "**Tag** - {=tagTitle}"
    }
  ]
}]]></Config>
</DataType>