<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dec1b766-33ea-4981-884e-00c37b495fb6" Alias="Team Members -  - Block List" Level="1">
  <Info>
    <Name>Team Members -  - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "c133e78b-5d19-4b8d-abdd-bf0f04845eb8",
      "label": "Team Member -  **{=memberName}**"
    }
  ]
}]]></Config>
</DataType>