<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e07de92b-ecae-40ab-99e1-ea743db40356" Alias="Testimonial - Stars  Slider" Level="1">
  <Info>
    <Name>Testimonial - Stars  Slider</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Slider</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "enableRange": false,
  "initVal1": 0,
  "initVal2": 0,
  "maxVal": 5,
  "minVal": 0,
  "step": 1
}]]></Config>
</DataType>