<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6dc8ab68-4991-442c-93ec-1b1c52d17546" Alias="modularPage" Level="2">
  <Info>
    <Name>Modular Page</Name>
    <Icon>icon-notepad</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>modularPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7d711999-d2f4-4673-867c-5f0197a25bcb">modularPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="6aa07974-8a33-4ded-83fe-a3b45f63733d" SortOrder="0">contactPage</ContentType>
    <ContentType Key="6dc8ab68-4991-442c-93ec-1b1c52d17546" SortOrder="1">modularPage</ContentType>
    <ContentType Key="f55eb8be-c96c-469a-bac1-9479bf9b2333" SortOrder="2">projectListPage</ContentType>
    <ContentType Key="c7385fb1-cc39-496a-b3e2-6856c5eed309" SortOrder="3">serviceListPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>5475274c-a378-45b8-99d2-53c2e4b6391d</Key>
      <Name>Layout</Name>
      <Alias>layout</Alias>
      <Definition>1fe95b91-61b6-40fd-ba65-08e5895af660</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/pageLayout">Page Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>44f808cb-3cc4-44b9-8984-4a74f9dcb325</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>523efebd-2508-4c0a-8f49-9f9beae2a907</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>ba12b320-9dad-4334-b3a7-0b94ebbc103d</Key>
      <Caption>Page Layout</Caption>
      <Alias>content/pageLayout</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>