<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2c7106d2-3620-4052-aecc-53c5a2e44566" Alias="testimonials" Level="3">
  <Info>
    <Name>Testimonials</Name>
    <Icon>icon-documents</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks/Testimonials</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="89c1e7bd-a471-4f4a-8150-9ef21c4cc79c" SortOrder="0">testimonialItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>