<?xml version="1.0" encoding="utf-8"?>
<Content Key="763e82c5-a603-46d9-aeb9-fd10f3301d84" Alias="Annual Reports" Level="3">
  <Info>
    <Parent Key="4bf93f9f-2f3b-4972-a995-14055145de58">Services</Parent>
    <Path>/OnatrixOfficialHome/Services/AnnualReports</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceItemTemplate</ContentType>
    <CreateDate>2024-09-15T13:15:56</CreateDate>
    <NodeName Default="Annual Reports" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="346384ee-2856-4361-b87c-783b88d07daa">serviceItemTemplate</Template>
  </Info>
  <Properties>
    <pageContent>
      <Value><![CDATA[]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[Annual Reports]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </preamble>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "6b20ebf1-16d5-487d-83d6-a646c7378dc7",
    "mediaKey": "b854dfed-c447-415b-a0e2-2f74848267b3",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>