<?xml version="1.0" encoding="utf-8"?>
<Content Key="d3de0a7e-b39b-48d9-a1a9-c115dceed8c0" Alias="Bonds &amp; Commodities" Level="3">
  <Info>
    <Parent Key="4bf93f9f-2f3b-4972-a995-14055145de58">Services</Parent>
    <Path>/OnatrixOfficialHome/Services/BondsCommodities</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceItemTemplate</ContentType>
    <CreateDate>2024-09-15T13:13:14</CreateDate>
    <NodeName Default="Bonds &amp; Commodities" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="346384ee-2856-4361-b87c-783b88d07daa">serviceItemTemplate</Template>
  </Info>
  <Properties>
    <pageContent>
      <Value><![CDATA[]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </preamble>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "88d55f5d-92bf-4d62-9ecd-82ab0ce1f027",
    "mediaKey": "628007d0-2182-4bbf-9fe8-d91735035a0e",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>