<?xml version="1.0" encoding="utf-8"?>
<Content Key="f60fc767-b38c-4b9e-9910-f13b69437be3" Alias="Budget Planning for Buccura In..." Level="3">
  <Info>
    <Parent Key="c80efc29-9fdf-4c1c-a1f6-6888aed19000">Projects</Parent>
    <Path>/OnatrixOfficialHome/Projects/BudgetPlanningForBuccuraIn</Path>
    <Trashed>false</Trashed>
    <ContentType>projectItemTemplate</ContentType>
    <CreateDate>2024-09-24T14:15:26</CreateDate>
    <NodeName Default="Budget Planning for Buccura In..." />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="562a9781-93ed-4831-9b7e-465b7534dc34">projectItemTemplate</Template>
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[January 3, 2024]]></Value>
    </date>
    <pageContent>
      <Value><![CDATA[]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[Budget Planning for Buccura In...]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </preamble>
    <projectService>
      <Value><![CDATA[Financial Services]]></Value>
    </projectService>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "f8994560-200e-454a-8c66-2ec16f37df8f",
    "mediaKey": "d1217b5e-ff64-45d9-b01b-513b04605718",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>