<?xml version="1.0" encoding="utf-8"?>
<Content Key="fe453460-7853-47f7-981f-c672d3e2e5fd" Alias="Business Insights for SP Group..." Level="3">
  <Info>
    <Parent Key="c80efc29-9fdf-4c1c-a1f6-6888aed19000">Projects</Parent>
    <Path>/OnatrixOfficialHome/Projects/BusinessInsightsForSPGroup</Path>
    <Trashed>false</Trashed>
    <ContentType>projectItemTemplate</ContentType>
    <CreateDate>2024-09-24T14:07:59</CreateDate>
    <NodeName Default="Business Insights for SP Group..." />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="562a9781-93ed-4831-9b7e-465b7534dc34">projectItemTemplate</Template>
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[May 17, 2024]]></Value>
    </date>
    <pageContent>
      <Value><![CDATA[]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[Business Insights for SP Group...]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </preamble>
    <projectService>
      <Value><![CDATA[Financial Services]]></Value>
    </projectService>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "6d24a844-6356-4544-8dfd-b411e34730df",
    "mediaKey": "3cefeb22-c90e-4e39-bf03-95888cc59fb4",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>