<?xml version="1.0" encoding="utf-8"?>
<Content Key="9880e225-b064-4068-bd77-7dc412349db9" Alias="Financial Advisors for Irra Grou..." Level="3">
  <Info>
    <Parent Key="c80efc29-9fdf-4c1c-a1f6-6888aed19000">Projects</Parent>
    <Path>/OnatrixOfficialHome/Projects/FinancialAdvisorsForIrraGrou</Path>
    <Trashed>false</Trashed>
    <ContentType>projectItemTemplate</ContentType>
    <CreateDate>2024-09-24T14:15:07</CreateDate>
    <NodeName Default="Financial Advisors for Irra Grou..." />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="562a9781-93ed-4831-9b7e-465b7534dc34">projectItemTemplate</Template>
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[February 6, 2024]]></Value>
    </date>
    <pageContent>
      <Value><![CDATA[]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[Financial Advisors for Irra Grou...]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </preamble>
    <projectService>
      <Value><![CDATA[Financial Services]]></Value>
    </projectService>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "63d39b45-4385-4363-8353-908e75559460",
    "mediaKey": "72a85583-fc00-483b-9577-d5868d51befb",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>