<?xml version="1.0" encoding="utf-8"?>
<Content Key="5efcb48c-9e13-430e-ade4-b36430143998" Alias="Financial Advisor" Level="3">
  <Info>
    <Parent Key="4bf93f9f-2f3b-4972-a995-14055145de58">Services</Parent>
    <Path>/OnatrixOfficialHome/Services/FinancialAdvisor</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceItemTemplate</ContentType>
    <CreateDate>2024-09-15T13:14:20</CreateDate>
    <NodeName Default="Financial Advisor" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="346384ee-2856-4361-b87c-783b88d07daa">serviceItemTemplate</Template>
  </Info>
  <Properties>
    <pageContent>
      <Value><![CDATA[]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[Financial Advisor]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </preamble>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "0e60a3b8-b263-4a75-a5cb-dbad00ba1f3d",
    "mediaKey": "b854dfed-c447-415b-a0e2-2f74848267b3",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>