<?xml version="1.0" encoding="utf-8"?>
<Content Key="6510a29d-554c-467f-9216-f55e0e190fd6" Alias="Office Management" Level="3">
  <Info>
    <Parent Key="4bf93f9f-2f3b-4972-a995-14055145de58">Services</Parent>
    <Path>/OnatrixOfficialHome/Services/OfficeManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceItemTemplate</ContentType>
    <CreateDate>2024-09-15T13:16:20</CreateDate>
    <NodeName Default="Office Management" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="346384ee-2856-4361-b87c-783b88d07daa">serviceItemTemplate</Template>
  </Info>
  <Properties>
    <pageContent>
      <Value><![CDATA[]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[Office Management]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </preamble>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "2a731248-fb9f-4ab2-a182-caf3f5d03f05",
    "mediaKey": "628007d0-2182-4bbf-9fe8-d91735035a0e",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>