<?xml version="1.0" encoding="utf-8"?>
<Content Key="c80efc29-9fdf-4c1c-a1f6-6888aed19000" Alias="Projects" Level="2">
  <Info>
    <Parent Key="489194af-9696-468f-9052-294e97728bb6">Onatrix Official - Home</Parent>
    <Path>/OnatrixOfficialHome/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectListPage</ContentType>
    <CreateDate>2024-09-24T13:42:23</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9b0e7bdf-b736-4360-933d-90e4d4048c5b">projectListPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Projects]]></Value>
    </pageTitle>
    <tags>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "40e0814c-4af4-4461-b015-81aba29d098a",
      "udi": "umb://element/acd07edbc4744e38a08c21b8385c2534",
      "tagTitle": "Report"
    },
    {
      "contentTypeKey": "40e0814c-4af4-4461-b015-81aba29d098a",
      "udi": "umb://element/2e5f79b443874fceacfb4b2d96889742",
      "tagTitle": "Busines plans"
    },
    {
      "contentTypeKey": "40e0814c-4af4-4461-b015-81aba29d098a",
      "udi": "umb://element/253a06d2e1c9417490ed7fd39e48f23b",
      "tagTitle": "Insights"
    },
    {
      "contentTypeKey": "40e0814c-4af4-4461-b015-81aba29d098a",
      "udi": "umb://element/42b13fe621834a5c9f87fd739e121946",
      "tagTitle": "Business"
    },
    {
      "contentTypeKey": "40e0814c-4af4-4461-b015-81aba29d098a",
      "udi": "umb://element/46542a48405e45f68f8c1b48dfc7994d",
      "tagTitle": "App"
    },
    {
      "contentTypeKey": "40e0814c-4af4-4461-b015-81aba29d098a",
      "udi": "umb://element/e24b4cae17ef4582b49994f6d1043f8a",
      "tagTitle": "Project"
    },
    {
      "contentTypeKey": "40e0814c-4af4-4461-b015-81aba29d098a",
      "udi": "umb://element/1d52b6c1e22f4c16b836f4b15d347646",
      "tagTitle": "Finance"
    },
    {
      "contentTypeKey": "40e0814c-4af4-4461-b015-81aba29d098a",
      "udi": "umb://element/c4cf20e175ea4bbc99dbb75f8434a812",
      "tagTitle": "Pricing"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/acd07edbc4744e38a08c21b8385c2534",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/2e5f79b443874fceacfb4b2d96889742",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/253a06d2e1c9417490ed7fd39e48f23b",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/42b13fe621834a5c9f87fd739e121946",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/46542a48405e45f68f8c1b48dfc7994d",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/e24b4cae17ef4582b49994f6d1043f8a",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/1d52b6c1e22f4c16b836f4b15d347646",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/c4cf20e175ea4bbc99dbb75f8434a812",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </tags>
  </Properties>
</Content>