<?xml version="1.0" encoding="utf-8"?>
<Content Key="203369d1-4000-4a70-a3d9-292725b8120f" Alias="Risk Management" Level="3">
  <Info>
    <Parent Key="c80efc29-9fdf-4c1c-a1f6-6888aed19000">Projects</Parent>
    <Path>/OnatrixOfficialHome/Projects/RiskManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>projectItemTemplate</ContentType>
    <CreateDate>2024-09-24T14:16:10</CreateDate>
    <NodeName Default="Risk Management" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="562a9781-93ed-4831-9b7e-465b7534dc34">projectItemTemplate</Template>
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[February 6, 2024]]></Value>
    </date>
    <pageContent>
      <Value><![CDATA[]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[Risk Management]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </preamble>
    <projectService>
      <Value><![CDATA[Financial Services]]></Value>
    </projectService>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "c1d5cd71-8572-4bbd-a389-89bb39f863f5",
    "mediaKey": "d3d4affb-4f7d-40a8-bd2d-d3a096699680",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>