<?xml version="1.0" encoding="utf-8"?>
<Content Key="4bf93f9f-2f3b-4972-a995-14055145de58" Alias="Services" Level="2">
  <Info>
    <Parent Key="489194af-9696-468f-9052-294e97728bb6">Onatrix Official - Home</Parent>
    <Path>/OnatrixOfficialHome/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceListPage</ContentType>
    <CreateDate>2024-09-12T12:26:10</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="410821e8-d171-40cb-9409-1ef35f0b82f2">serviceListPage</Template>
  </Info>
  <Properties>
    <customHeadline>
      <Value><![CDATA[We Provide The Solutions To Grow Your Business Faster]]></Value>
    </customHeadline>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
  </Properties>
</Content>