<?xml version="1.0" encoding="utf-8"?>
<Content Key="06d08772-959d-4579-85e1-63d962e18588" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSetting</ContentType>
    <CreateDate>2024-09-12T13:28:43</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <aboutUsImage>
      <Value><![CDATA[[
  {
    "key": "24833ca1-3aae-40ef-a5b8-23f59d45dc94",
    "mediaKey": "bb439cec-fc26-4bc0-963a-217e45720610",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutUsImage>
    <contactBackground>
      <Value><![CDATA[[
  {
    "key": "d30c90d6-04cb-4cce-a7bb-a3e84a02c59e",
    "mediaKey": "97aca7b1-43eb-4dc6-8c9c-6123fb10482e",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactBackground>
    <contactGuy>
      <Value><![CDATA[[
  {
    "key": "d3a66777-bf60-41b8-94ab-d45a1ac4b585",
    "mediaKey": "fa32a20e-3d24-4d17-97e1-a7d766246f3b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactGuy>
    <formBackground>
      <Value><![CDATA[[
  {
    "key": "69dbd29f-5197-4be4-b088-9b9073fb8ccf",
    "mediaKey": "71f1de7c-1110-4519-a319-adbf74e1ad2f",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </formBackground>
    <globeLeft>
      <Value><![CDATA[[
  {
    "key": "c4aab435-4905-4314-ac59-809555a684cb",
    "mediaKey": "0150c365-c756-4e5b-ab7c-6373a0186077",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </globeLeft>
    <globeRight>
      <Value><![CDATA[[
  {
    "key": "d86b8b6b-4933-4c4e-bc38-369f5c7bec51",
    "mediaKey": "c2664daa-8c1a-4a68-9724-398b1fa3eecc",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </globeRight>
    <logo>
      <Value><![CDATA[[
  {
    "key": "38277c32-afaf-4878-8a9c-c0f4e427e015",
    "mediaKey": "8216709a-68ba-4c92-8514-f48563652043",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logo>
    <siteName>
      <Value><![CDATA[]]></Value>
    </siteName>
    <socialMediaPlatforms>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "bc7bdf0d-f0b5-47df-a914-3be26c6e1ab2",
      "udi": "umb://element/540d90a506b04c43939324321430c633",
      "platformName": "[\u0022Facebook\u0022]",
      "platformAccountUrl": "https://www.facebook.com/onatrix"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/540d90a506b04c43939324321430c633",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </socialMediaPlatforms>
    <supportImage>
      <Value><![CDATA[[
  {
    "key": "f81d36f7-035f-4612-898c-d1d954196147",
    "mediaKey": "0ebfccbf-f77e-4ebb-9acf-a45c1a6288f6",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </supportImage>
  </Properties>
</Content>