<?xml version="1.0" encoding="utf-8"?>
<Content Key="ee80f9d0-6dc6-4447-8b45-c3f61a481932" Alias="Tax and Trusts" Level="3">
  <Info>
    <Parent Key="4bf93f9f-2f3b-4972-a995-14055145de58">Services</Parent>
    <Path>/OnatrixOfficialHome/Services/TaxAndTrusts</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceItemTemplate</ContentType>
    <CreateDate>2024-09-15T13:14:05</CreateDate>
    <NodeName Default="Tax and Trusts" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="346384ee-2856-4361-b87c-783b88d07daa">serviceItemTemplate</Template>
  </Info>
  <Properties>
    <pageContent>
      <Value><![CDATA[]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </preamble>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "a14f6594-c8cf-4c09-9f76-43bb517b3558",
    "mediaKey": "fa37f4e4-64ad-4894-8d1e-211ceef3843c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>