<?xml version="1.0" encoding="utf-8"?>
<Content Key="ff743cb9-d0dc-4148-a249-a795b12c08b7" Alias="Test Testimonial" Level="102">
  <Info>
    <Parent Key="ef9a0136-f0b4-479f-b54b-fcb8695efdd9">Testimonials</Parent>
    <Path>/[-20]/Testimonials/TestTestimonial</Path>
    <Trashed Parent="ef9a0136-f0b4-479f-b54b-fcb8695efdd9">true</Trashed>
    <ContentType>testimonialItem</ContentType>
    <CreateDate>2024-10-05T14:12:16</CreateDate>
    <NodeName Default="Test Testimonial" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <authorCompany>
      <Value><![CDATA[Swebank]]></Value>
    </authorCompany>
    <authorImage>
      <Value><![CDATA[]]></Value>
    </authorImage>
    <testimonialAuthor>
      <Value><![CDATA[Test Test]]></Value>
    </testimonialAuthor>
    <testimonialMessage>
      <Value><![CDATA[Test]]></Value>
    </testimonialMessage>
    <testimonialStars>
      <Value><![CDATA[5]]></Value>
    </testimonialStars>
  </Properties>
</Content>